/* Forgetpassword.css */
.signin-container {
    /* Copy the shared styles from Signin.css */
    width: 550px;
    height: 550px;
    margin-top: 100px;
    margin-bottom: 65px;
    border-radius: 60px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px 5px #00000040, -20px -20px 50px 5px #FFFFFF40;
  }
  
  .signin-input {
    /* Copy the shared styles for input */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 70px;
  }
  
  .signin-input img {
    margin: 0px 10px;
  }
  
  .signin-input input {
    outline: none;
    border: none;
    width: 340px;
    height: 40px;
  }
  
  /* Copy other shared styles as needed */
  