/*Registration.css*/
body {
height: 1024px;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #E0EFFE;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reg-container {
  width: 550px;
  height: 600px; 
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 50px;
  background: #FFFFFF;
  box-shadow: 20px 20px 50px 5px #00000040, -20px -20px 50px 5px #FFFFFF40;
}


.reg-input {
  display: flex;
  width: 406px;
  height: 55px;
  border: 3px solid #007DFA;
  border-radius: 10px;
  margin-left: 20px;
}

.reg-txts {
  margin-left: 75px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.reg-text {
  font-weight: 700;
  line-height: 29.05px;
  font-size: 24px;

  margin-bottom: 10px;
  margin-left: 155px;
  padding-top: 40px;
  font-family: 'Inter', sans-serif;
}

.reg-inputs {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.reg-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 70px;
}

.reg-input img {
  margin: 0px 10px;
}

.reg-input input {
  outline: none;
  border: none;
}

.reg-input:last-child {
  margin-bottom: 0;
}

.reg-submit {
  width: 280px;
  background-color: #007DFA;
  color: #ffffff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 68px;
  border-radius: 10px;
  border: 3px solid #6894D7;
  background: linear-gradient(0deg, #007DFA, #007DFA),
    linear-gradient(0deg, #6894D7, #6894D7);
padding-left: 130px;
margin-top: 30px;
padding-top: 10px;
padding-bottom: 10px;
line-height: 29.05px;
  letter-spacing: 0em;
  font-family: 'Inter', sans-serif;
  
}

.reg-have-account {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.2px;
  color: black;
  width: 200px;
  height: 19px;
  top: 450px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 190px;
}

span {
  color: #007DFA;
  cursor: pointer;
  font-weight: bold;
}
