.confirm-container {
    width: 550px;
    height: 550px;
    margin-top: 100px;
    margin-bottom: 65px;
    border-radius: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 0px #00000040;
  }
  
  .confirm-input {
    display: flex;
    width: 250px;
    height: 30px;
    border: 3px solid #007DFA;
    border-radius: 10px;
    margin-left: 20px;
  }
  
  .confirm-input img{
    width: 25px;
  }
  .second-side{
    margin-left: 300px;
    margin-top: -155px;
  }

  .confirm-txts {
    margin-left: 75px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .confirm-text {
    font-weight: 700;
    line-height: 29.05px;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 230px;
    font-family: 'Inter', sans-serif;
  }
  
  .confirm-inputs {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
  }
  
  .confirm-input {
    display: flex;
    align-items: center;
    margin-left: 70px;
    font-family: 'Inter', sans-serif;
  }
  .confirm-input {
    display: flex;
    align-items: center;
    margin-left: 70px;
    font-family: 'Inter', sans-serif;
  }
  .confirm-input img {
    margin: 0px 10px;
  }

  .confirm-txts.change-username-txt {
    margin-top: -140px;
    margin-left: 400px; 
  }
  
.confirm-input.change-username-input {
  align-items: flex-start;
  margin-left: 400px;
}
  .confirm-inputt {
    display: flex;
    width: 406px;
    height: 30px;
    border: 3px solid red;
    border-radius: 10px;
    margin-left: 68px;
  }
  .confirm-inputt img {
    margin: 0px 5px;
  }
  .confirm-input input {
    outline: none;
    border: none;
    width: 340px;
    height: 20px;
  }
  
  .confirm-input:last-child {
    margin-bottom: 0;
  }
  .confirm-save-button {
    margin-top: 80px;
    margin-left: 520px;
    width: 130px;

    padding: 8px 16px;
    background-color: #007DFA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }