
.footer{
    background-color: #4f8da8;
    color: Black;
width: 1280px;
padding-right: 150px;
    font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
    display: flex;
    justify-content: center;
  
}
