
.footer{
  background-color: #2F7897;

    color: Black;
width: 1310px;
padding-right: 150px;
    font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
    display: flex;
    justify-content: center;
  
}
.copyright{
  margin-left: 300px;
}